<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="gibraltar">
      <section name="entityFramework" type="Gibraltar.Agent.EntityFramework.Configuration.EntityFrameworkElement, Gibraltar.Agent.EntityFramework" />
    </sectionGroup>
  </configSections>
  <gibraltar>
    <!-- See the properties on the EntityFrameworkElement object for the options -->
    <entityFramework logCallStack="true" />
  </gibraltar>
</configuration>